<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>278088353101-gok69s5rie2a2ftq5671hmq5b62veha6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.278088353101-gok69s5rie2a2ftq5671hmq5b62veha6</string>
	<key>API_KEY</key>
	<string>AIzaSyB9JQHawY8i0ay5N_U9bwBnTFn_evtassk</string>
	<key>GCM_SENDER_ID</key>
	<string>278088353101</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.blatini.bloggers</string>
	<key>PROJECT_ID</key>
	<string>test-blatini</string>
	<key>STORAGE_BUCKET</key>
	<string>test-blatini.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:278088353101:ios:3a7b1666f3ebeb22eba304</string>
</dict>
</plist>